.service-name {
  font-family: 'Helvetica';
  font-size: 20px;
  text-align: left;
}

.menu-thumb {
  width: 50px; 
  height: 50px;
  margin-left: 5%;
}

.menu-name {
  margin-left: 5%;
}

.head-thumb {
  width: 40px; 
  height: 40px;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;

}

.host-name {
  font-family: 'Helvetica';
  font-size: 25px;
}

.header-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
}

.header-item {
  float: left;
}

.head-title {
  display: block;
  color: #666;
  text-align: center;
  text-decoration: none;
  font-family: 'Helvetica';
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 16px;
  margin-right: 8px;
  margin-left: 16px;
}

.td-links {
  text-align: left;
}

.btn-td {
  margin-left: 80px;
  margin-top: 8px;
}

.trash-td {
  margin-left: 5%;
}

.table td {
  padding: 0.75rem;
  max-width: 50%;
}
/* Google Material Icons Pack */
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/css/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
